input {
  mongodb {
    uri => '$MONGODB_URI'
    placeholder_db_dir => '/usr/share/logstash/data'
    placeholder_db_name => 'urls.db'
    collection => 'urls'
    batch_size => 500
  }
}

filter {
  mutate {
    remove_field => ["_id"]
  }
}

output {
  stdout {
    codec => rubydebug
  }

  elasticsearch {
    action => "index"
    index => "urls"
    hosts => ["$ELASTICSEARCH"]
  }
}